
.front_item__handle {
    border: 1px solid #000;
    height: 40px;
    border-radius: 50%;
    width: 50px;
    margin: 0 20px;
    padding: 2px;
}
.front_item__driver{
    text-align: center;
    width: 60px;
    border: 1px solid #000;
    height: 40px;
    margin: 10px 20px;
}
.front_item__handleinside {
    border: 1px solid #000;
    height: 27px;
    border-radius: 50%;
    width: 32px;
    margin: 5px;
}
.wrap {
    display: flex;
  }
.main_box {
  margin: 0 30px;
  width: 50%;
  display: grid;
  flex-direction: column;
}
.item {
  display: flex;
}
.seat {
  display: flex;
  border: 1px solid #000;
  height: 30px;
  width: 60px;
  margin: 5px;
}
