@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=DM+Serif+Display&family=East+Sea+Dokdo&family=Gowun+Batang:wght@400;700&family=Nanum+Pen+Script&family=Permanent+Marker&family=Playfair+Display:wght@400;500;700;900&display=swap");

.wrap {
 width: 21.5vw;
 margin-bottom: 40px;
 
}
.btn-edit {
  cursor: pointer;
  width: auto;
  padding: 4px;
  margin: 10px 20px 0 0;
  float: right;
  border: 1px solid transparent;
}
/* 
.profile__img {
  border-radius: 50%;
  padding: 0.7px;
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

p{
  font-size: 18px;
  font-family: 'Permanent Marker', cursive;
}

.comment {
  color: #757b82;
  font-size: 14px;
  padding: 5px 10px;
  margin: 0;
}
.comment:hover{
  color: #000;
}
.list__content{
height:12vh;
}
.viewer{
  height: 13vh;
}
