
img {
  width:100%;
  height: 100%;
  background-size: cover;
}
.inserted-img{
  width:30%;
  height: 30%;
  background-size: cover;
}
.title{
  margin: 30px;
  font-size: 30px;
  font-weight: 700;
}
.circle {
  align-items: center;
  width:80vw;
  padding: 10px;
  box-sizing: border-box;
  font-weight: 500;
  flex-direction: column;
  /* vertical-align:middle; */
  margin: 0 auto;
}
.content {
    position: relative;
    margin: 0;
}
