/* @import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=DM+Serif+Display&family=East+Sea+Dokdo&family=Gowun+Batang:wght@400;700&family=Nanum+Pen+Script&family=Permanent+Marker&family=Playfair+Display:wght@400;500;700;900&display=swap'); */
.box {
  position: sticky;
  position: -webkit-sticky;
  top:0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* font-family: 'Permanent Marker', cursive; */
  margin-left: 5rem;
  border-left: 2px solid #cacaca;
  padding: 0.25rem 0.75rem;
  color: #000;
  line-height: 1.5;
  font-size: 0.875rem;
  max-height: calc(100vh - 128px);
  overflow: hidden auto;
}
