/* .wrap {
    padding: 45px 50px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
    margin: 2rem;

    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
} */
@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=DM+Serif+Display&family=East+Sea+Dokdo&family=Gowun+Batang:wght@400;700&family=Nanum+Pen+Script&family=Permanent+Marker&family=Playfair+Display:wght@400;500;700;900&display=swap");
.wrap{
    padding: 10px 45px 0px 45px;
    width: auto;
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    text-align: center;
    
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 1rem;
    /* border: 1px solid #000; */
    transition: 0.3s ease all;
    height: 60vh;
    width: 40vw;
    margin: auto;
    
}
.button{
    font-family: 'Permanent Marker', cursive;
    font-size: large;
    border-radius: 30px;
}
.button:hover{
    background-color: #f2f4f7;
}
