.wrap {
  min-width: 80%;
  margin: 0 80px;
  height: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
 border:2px solid #000;
  overflow: hidden;
  display: inline-block;
}
.top-header{
    width: auto;
    justify-content: space-between;
    display: flex;
    margin: 5px;
  }
  .top-header p{
    font-style: italic;
    margin: 10px;
    justify-content: space-between;
  }
.header-is-closed{
    font-size: 23px;
    margin:0 20px
}
  .header {
    display: flex;
    position: sticky;
    top: 40px;
    margin: 0px 20px;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: 0.5s; /*사파리 & 크롬*/
    -moz-transition: 0.5s; /*파이어폭스*/
    -ms-transition: 0.5s; /*인터넷 익스플로러*/
    -o-transition: 0.5s; /*오페라*/
    transition: 0.5s;
    background-repeat: no-repeat;
  }
  .time{
    margin-right: -50vw;
  }
  .btn-edit{
      padding: 10px;
      border: 1px solid transparent;
      margin: 10px 40px;
  }
  .viewer{
      
    padding: 40px;
    opacity: 1;
      color: #757B82;
      line-height: 25px;
      -webkit-transition: .2s ease-in-out; /*사파리&크롬*/
      -moz-transition: .2s ease-in-out; /*파이어폭스*/
      -ms-transition: .2s ease-in-out; /*익스플로러*/
      -o-transition: .2s ease-in-out; /*오페라*/
      transition : .2s ease-in-out;
      overflow: auto;
      height: 60vh;
      /* margin: 5px 20px; */
  }