.wrap{
    display: grid;
    grid-template-columns: repeat(3,1fr) 60px;
    grid-template-rows: auto;
    padding: 0 45px 0 45.5px;
    height: auto;
    width: 100vw;
    border: 1px solid #000;
}
.display{
    border: 1px solid #000;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    margin-bottom:40px ;
}
.bus{
    text-align: center;
    margin: 0 30%;
}
.busframe{
    height: 70vh;
    border: 1px solid #000;
}
.stickybox{
    
    font-weight: 700;
    font-size: large;
    
    width: 3vw;
    height: 100%;
    border: 1px solid #000;
    position: sticky;
    top: 200px;
}