@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=DM+Serif+Display&family=East+Sea+Dokdo&family=Gowun+Batang:wght@400;700&family=Nanum+Pen+Script&family=Permanent+Marker&family=Playfair+Display:wght@400;500;700;900&display=swap");

.nolog {
  font-weight: 700;
  font-family: "Gowun Batang", serif;
  font-size: 2.5rem;
  margin: 0 20vw;
  padding: 10px;
  height: 15vh;
  width: 50vw;
  text-align: center;
  color: #a7abb0;
  background-color: #fff;
}


.my_masonry_grid {
  padding: 0 45px 0 45px;
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  
  
}
.my_masonry_grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  
}

/* Style your items */
.detail { /* change div to reference your elements you put in <Masonry> */
  background:transparent;
  float: left;
}
.body_header{
  display: grid;
  grid-template-columns: auto auto 1fr;
  
}