@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=DM+Serif+Display&family=East+Sea+Dokdo&family=Gowun+Batang:wght@400;700&family=Nanum+Pen+Script&family=Permanent+Marker&family=Playfair+Display:wght@400;500;700;900&display=swap");
/* .wrap { */
  /* display: grid; */
  /* grid-template-columns: repeat(3,1fr) 60px; */
  /* grid-template-rows: auto; */
  /* padding: 0 45px 0 45.5px;
  height: auto;
  width: 100vw; */
/* } */
.nolog {
  font-weight: 700;
  font-family: "Gowun Batang", serif;
  font-size: 2.5rem;
  margin: 0 20vw;
  padding: 10px;
  height: 15vh;
  width: 50vw;
  text-align: center;
  color: #a7abb0;
  background-color: #fff;
}
/* .display {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
} */
/* .bus{
    text-align: center;
    margin: 0 30%;
}
.busframe{
    height: 70vh;
    border: 1px solid #000;
} */
/* .stickybox {
  font-weight: 700;
  font-size: large;
  width: 3vw;
  height: 100%;
  border: 1px solid #000;
  position: sticky;
  top: 200px;
}
@media screen and (max-width: 1061px){
  .display {
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
    margin-bottom: 40px;
  }
} */

.my_masonry_grid {
  padding: 0 45px 0 45px;
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
  
  
}
.my_masonry_grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  
}

/* Style your items */
.detail { /* change div to reference your elements you put in <Masonry> */
  background:transparent;
  float: left;
}

@media (max-width: 1100px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
  
}
